---
---

@import "{{ site.theme }}";
.page-header {
    color: rgb(255, 255, 255);
    background-color: #849db5;
    background-image: url("asterisq/assets/css/banner (1).jpg");
}
h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}
