---
---

@import "{{ site.theme }}";
.page-header {
    color: rgb(255, 255, 255);
    background-color: #849db5;
    background-image: url("/images/banner.jpg");
}
h1 {color: #000000;} h2 {color: #000000;} h3 {color: #000000;}
